* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

.section-title{
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2{
    color: #004d7c;
    font-size: 40px;
    font-weight: 600;
}
.section-title span{
    color: #FF9D34;
}

.nav-div {
    z-index: 2;
    background-color: #004d7c;
 
}
.logo{
    color: #FF9D34;
}
.search{
    color: #FF9D34;
}
.fa-user {
    font-size: 20px;
    background: #FF9D34;
    padding: 10px 12px;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* nav section end  */


/* banner section style start  */
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #50a3d3;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 100px;
}

.btn-dream {
    border: none;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 17px;
    font-weight: 600;
    background: transparent;
    border-radius: 5px;
    color: white;
    transition: all 1s ease;
    position: relative;
    display: inline-block;
    outline: none;
    margin-left: 10px;
}

.btn-effect {
    background: #FF9D34;
    border: none;
    z-index: 1;
}

.btn-effect:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #014073;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 1s ease;
}

.btn-effect:hover {
    color: #fff;
}

.btn-effect:hover:after {
    left: 0;
    width: 100%;
}

.btn-effect:active {
    top: 2px;
}

/* banner section style end  */

/* plan section style start  */
#plan {
    background-color: #fafafa;
}

.plan-icon {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    border: #1f252a 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.plan-p{
    color: #969AA3;
}

.plan-hover {
    background-color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.plan-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ---------Plane End----------- */

/* ---------About Start--------- */
.about-area{
    padding: 100px 0;
}
.about-text h3{
    font-weight: bold;
    font-size: 30px;
}
.about-text{
    padding-top: 75px;
    padding-right: 150px;
}
.about-img img{
    width: 100%;
}
/* ---------About End----------- */

/* h */

.destination-header h6 {
    font-size: 20px;
    color: #004d7c;
}

.destination-header h1 {
    font-weight: bold;
}

.des-cl {
    color: #FF9D34;
}

.des-dt p {
    margin-bottom: 0;
    color: #969AA3;
}

.des-img {
    height: 250px;
    width: 100%;
    transition: 1s ease;
    cursor: pointer;
}
.booking-img img{
    width: 100%;
    height: auto;
}

.des-scle {
    width: 100%;
    overflow: hidden;
}

.des-scle:last-child {
    margin-right: 0px;
}

.des-scle:hover img {
    transform: scale(1.2);
}

.card-title {
    color: #004d7c;
    font-weight: 600;
    transition: 0.5s;
}

.card-t:hover h5 {
    color: #FF9D34;
}

.card-text {
    color: #969AA3;
}

.book-now {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.btn-lay {
    background: #FF9D34;
    border: none;
    z-index: 1;
}

.btn-lay:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #014073;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 1s ease;
}

.btn-lay:hover {
    color: #fff;
}

.btn-lay:hover:after {
    left: 0;
    width: 100%;
}

.btn-lay:active {
    top: 2px;
}

.review i {
    color: #FF9D34;
}